[submodule "public"]
	path = public
	url = https://github.com/haochen233/haochen233.github.io.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/haochen233/Mainroad.git
